<!-- top-rated-movie -->
<section
  class="top-rated-movie tr-movie-bg"
  style="background-image: url(../../../assets/img/bg/tr_movies_bg.jpg)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center mb-50">
          <span class="sub-title">ONLINE STREAMING</span>
          <h2 class="title">Top Rated Movies</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="tr-movie-menu-active text-center">
          <button class="active" data-filter="*">Movies</button>
          <button class="" data-filter=".cat-one">TV Shows</button>
          <button class="" data-filter=".cat-two">documentary</button>
          <button class="" data-filter=".cat-three">sports</button>
        </div>
      </div>
    </div>
    <div class="row tr-movie-active">
      <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-two">
        <div class="movie-item mb-60">
          <div class="movie-poster">
            <a [routerLink]="['movie-details']" [queryParams]="{ movieNr: 0 }"
              ><img src="../../../assets/img/poster/ucm_poster01.jpg" alt=""
            /></a>
          </div>
          <div class="movie-content">
            <div class="top">
              <h5 class="title">
                <a
                  [routerLink]="['movie-details']"
                  [queryParams]="{ movieNr: 0 }"
                  >{{ moviesData.movieList![0].title }}</a
                >
              </h5>
              <span class="date"
                >{{ moviesData.movieList![0].releaseDate | date: "yyyy" }}
              </span>
            </div>
            <div class="bottom">
              <ul>
                <li><span class="quality">hd</span></li>
                <li>
                  <span class="duration"
                    ><i class="far fa-clock"></i>
                    {{ moviesData.movieList![0].runTime }} min</span
                  >
                  <span class="rating"
                    ><i class="fas fa-thumbs-up"></i>
                    {{ moviesData.movieList![0].rating }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three"
      >
        <div class="movie-item mb-60">
          <div class="movie-poster">
            <a [routerLink]="['movie-details']" [queryParams]="{ movieNr: 1 }"
              ><img src="../../../assets/img/poster/ucm_poster02.jpg" alt=""
            /></a>
          </div>
          <div class="movie-content">
            <div class="top">
              <h5 class="title">
                <a
                  [routerLink]="['movie-details']"
                  [queryParams]="{ movieNr: 1 }"
                  >{{ moviesData.movieList![1].title }}</a
                >
              </h5>
              <span class="date">{{
                moviesData.movieList![1].releaseDate | date: "yyyy"
              }}</span>
            </div>
            <div class="bottom">
              <ul>
                <li><span class="quality">4k</span></li>
                <li>
                  <span class="duration"
                    ><i class="far fa-clock"></i>
                    {{ moviesData.movieList![1].runTime }} min</span
                  >
                  <span class="rating"
                    ><i class="fas fa-thumbs-up"></i>
                    {{ moviesData.movieList![1].rating }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-two">
        <div class="movie-item mb-60">
          <div class="movie-poster">
            <a [routerLink]="['movie-details']" [queryParams]="{ movieNr: 2 }"
              ><img src="../../../assets/img/poster/ucm_poster03.jpg" alt=""
            /></a>
          </div>
          <div class="movie-content">
            <div class="top">
              <h5 class="title">
                <a
                  [routerLink]="['movie-details']"
                  [queryParams]="{ movieNr: 0 }"
                  >{{ moviesData.movieList![2].title }}</a
                >
              </h5>
              <span class="date">{{
                moviesData.movieList![2].releaseDate | date: "yyyy"
              }}</span>
            </div>
            <div class="bottom">
              <ul>
                <li><span class="quality">hd</span></li>
                <li>
                  <span class="duration"
                    ><i class="far fa-clock"></i>
                    {{ moviesData.movieList![2].runTime }} min</span
                  >
                  <span class="rating"
                    ><i class="fas fa-thumbs-up"></i>
                    {{ moviesData.movieList![2].rating }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three"
      >
        <div class="movie-item mb-60">
          <div class="movie-poster">
            <a [routerLink]="['movie-details']" [queryParams]="{ movieNr: 3 }"
              ><img src="../../../assets/img/poster/ucm_poster04.jpg" alt=""
            /></a>
          </div>
          <div class="movie-content">
            <div class="top">
              <h5 class="title">
                <a
                  [routerLink]="['movie-details']"
                  [queryParams]="{ movieNr: 3 }"
                  >{{ moviesData.movieList![3].title }}</a
                >
              </h5>
              <span class="date">{{
                moviesData.movieList![3].releaseDate | date: "yyyy"
              }}</span>
            </div>
            <div class="bottom">
              <ul>
                <li><span class="quality">8K</span></li>
                <li>
                  <span class="duration"
                    ><i class="far fa-clock"></i>
                    {{ moviesData.movieList![3].runTime }} min</span
                  >
                  <span class="rating"
                    ><i class="fas fa-thumbs-up"></i>
                    {{ moviesData.movieList![3].rating }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-two">
        <div class="movie-item mb-60">
          <div class="movie-poster">
            <a [routerLink]="['movie-details']" [queryParams]="{ movieNr: 4 }"
              ><img src="../../../assets/img/poster/ucm_poster05.jpg" alt=""
            /></a>
          </div>
          <div class="movie-content">
            <div class="top">
              <h5 class="title">
                <a
                  [routerLink]="['movie-details']"
                  [queryParams]="{ movieNr: 4 }"
                  >{{ moviesData.movieList![4].title }}</a
                >
              </h5>
              <span class="date">{{
                moviesData.movieList![4].releaseDate | date: "yyyy"
              }}</span>
            </div>
            <div class="bottom">
              <ul>
                <li><span class="quality">3D</span></li>
                <li>
                  <span class="duration"
                    ><i class="far fa-clock"></i>
                    {{ moviesData.movieList![4].runTime }} min</span
                  >
                  <span class="rating"
                    ><i class="fas fa-thumbs-up"></i>
                    {{ moviesData.movieList![4].rating }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three"
      >
        <div class="movie-item mb-60">
          <div class="movie-poster">
            <a [routerLink]="['movie-details']" [queryParams]="{ movieNr: 5 }"
              ><img src="../../../assets/img/poster/ucm_poster06.jpg" alt=""
            /></a>
          </div>
          <div class="movie-content">
            <div class="top">
              <h5 class="title">
                <a
                  [routerLink]="['movie-details']"
                  [queryParams]="{ movieNr: 5 }"
                  >{{ moviesData.movieList![5].title }}</a
                >
              </h5>
              <span class="date">{{
                moviesData.movieList![5].releaseDate | date: "yyyy"
              }}</span>
            </div>
            <div class="bottom">
              <ul>
                <li><span class="quality">hd</span></li>
                <li>
                  <span class="duration"
                    ><i class="far fa-clock"></i>
                    {{ moviesData.movieList![5].runTime }} min</span
                  >
                  <span class="rating"
                    ><i class="fas fa-thumbs-up"></i>
                    {{ moviesData.movieList![5].rating }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-two">
        <div class="movie-item mb-60">
          <div class="movie-poster">
            <a [routerLink]="['movie-details']" [queryParams]="{ movieNr: 6 }"
              ><img src="../../../assets/img/poster/ucm_poster07.jpg" alt=""
            /></a>
          </div>
          <div class="movie-content">
            <div class="top">
              <h5 class="title">
                <a
                  [routerLink]="['movie-details']"
                  [queryParams]="{ movieNr: 6 }"
                  >{{ moviesData.movieList![6].title }}</a
                >
              </h5>
              <span class="date">{{
                moviesData.movieList![6].releaseDate | date: "yyyy"
              }}</span>
            </div>
            <div class="bottom">
              <ul>
                <li><span class="quality">4K</span></li>
                <li>
                  <span class="duration"
                    ><i class="far fa-clock"></i>
                    {{ moviesData.movieList![6].runTime }} min</span
                  >
                  <span class="rating"
                    ><i class="fas fa-thumbs-up"></i>
                    {{ moviesData.movieList![6].rating }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three"
      >
        <div class="movie-item mb-60">
          <div class="movie-poster">
            <a [routerLink]="['movie-details']" [queryParams]="{ movieNr: 7 }"
              ><img src="../../../assets/img/poster/ucm_poster08.jpg" alt=""
            /></a>
          </div>
          <div class="movie-content">
            <div class="top">
              <h5 class="title">
                <a
                  [routerLink]="['movie-details']"
                  [queryParams]="{ movieNr: 7 }"
                  >{{ moviesData.movieList![7].title }}</a
                >
              </h5>
              <span class="date">{{
                moviesData.movieList![7].releaseDate | date: "yyyy"
              }}</span>
            </div>
            <div class="bottom">
              <ul>
                <li><span class="quality">4K</span></li>
                <li>
                  <span class="duration"
                    ><i class="far fa-clock"></i>
                    {{ moviesData.movieList![7].runTime }} min</span
                  >
                  <span class="rating"
                    ><i class="fas fa-thumbs-up"></i>
                    {{ moviesData.movieList![7].rating }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- top-rated-movie-end -->
