.sub-title {
  display: flex !important;
  align-items: center !important;
  color: white !important;
  .yellow {
    color: #e4d804;
    padding: 0.5rem;
    font-size: 1.5rem !important;
    font-style: normal !important;
  }
}
