<body>
  <!-- preloader -->
  <!-- <div id="preloader">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <img src="../../../assets/img/preloader.svg" alt="" />
      </div>
    </div>
  </div> -->
  <!-- preloader-end -->

  <!-- Scroll-top -->
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
  </button>
  <!-- Scroll-top-end-->

  <!-- main-area -->
  <main>
    <!-- breadcrumb-area -->
    <section
      class="breadcrumb-area breadcrumb-bg"
      style="background-image: url(../../../assets/img/bg/breadcrumb_bg.jpg)"
      *ngIf="moviesData && moviesData.movieList"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb-content">
              <h2 class="title">Our <span>Movie</span></h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a routerLink="/home">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Movie
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- movie-area -->
    <section
      class="movie-area movie-bg"
      style="background-image: url(../../../assets/img/bg/movie_bg.jpg)"
    >
      <div class="container">
        <div class="row align-items-end mb-60">
          <div class="col-lg-6">
            <div class="section-title text-center text-lg-left">
              <span class="sub-title">ONLINE STREAMING</span>
              <h2 class="title">Popular Movies</h2>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="movie-page-meta">
              <div class="tr-movie-menu-active text-center">
                <button class="" data-filter="*">Animation</button>
                <button class="active" data-filter=".cat-one">Movies</button>
                <button class="" data-filter=".cat-two">Romantic</button>
              </div>
              <form action="#" class="movie-filter-form">
                <select class="custom-select">
                  <option selected>English</option>
                  <option value="1">Blueray</option>
                  <option value="2">4k Movie</option>
                  <option value="3">Hd Movie</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="row tr-movie-active">
          <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-two">
            <div class="movie-item movie-item-three mb-50">
              <div class="movie-poster">
                <img src="../../../assets/img/poster/ucm_poster09.jpg" alt="" />
                <ul class="overlay-btn">
                  <li class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/watch?v=OiTiKOy59o4"
                      class="popup-video btn"
                      >Watch Now</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 8 }"
                      class="btn"
                      >Details</a
                    >
                  </li>
                </ul>
              </div>

              <div class="movie-content">
                <div class="top">
                  <h5 class="title">
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 8 }"
                      >{{ moviesData.movieList![8].title }}
                    </a>
                  </h5>
                  <span class="date">{{
                    moviesData.movieList![8].releaseDate | date: "yyyy"
                  }}</span>
                </div>
                <div class="bottom">
                  <ul>
                    <li><span class="quality">hd</span></li>
                    <li>
                      <span class="duration"
                        ><i class="far fa-clock"></i
                        >{{ moviesData.movieList![8].runTime }} min</span
                      >
                      <span class="rating"
                        ><i class="fas fa-thumbs-up"></i
                        >{{ moviesData.movieList![8].rating }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one">
            <div class="movie-item movie-item-three mb-50">
              <div class="movie-poster">
                <img src="../../../assets/img/poster/ucm_poster10.jpg" alt="" />
                <ul class="overlay-btn">
                  <li class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/watch?v=OiTiKOy59o4"
                      class="popup-video btn"
                      >Watch Now</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 9 }"
                      class="btn"
                      >Details</a
                    >
                  </li>
                </ul>
              </div>
              <div class="movie-content">
                <div class="top">
                  <h5 class="title">
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 9 }"
                      >{{ moviesData.movieList![9].title }}</a
                    >
                  </h5>
                  <span class="date">{{
                    moviesData.movieList![9].releaseDate | date: "yyyy"
                  }}</span>
                </div>
                <div class="bottom">
                  <ul>
                    <li><span class="quality">4k</span></li>
                    <li>
                      <span class="duration"
                        ><i class="far fa-clock"></i
                        >{{ moviesData.movieList![9].runTime }} min</span
                      >
                      <span class="rating"
                        ><i class="fas fa-thumbs-up"></i
                        >{{ moviesData.movieList![9].rating }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-two">
            <div class="movie-item movie-item-three mb-50">
              <div class="movie-poster">
                <img src="../../../assets/img/poster/ucm_poster11.jpg" alt="" />
                <ul class="overlay-btn">
                  <li class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/watch?v=OiTiKOy59o4"
                      class="popup-video btn"
                      >Watch Now</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 10 }"
                      class="btn"
                      >Details</a
                    >
                  </li>
                </ul>
              </div>
              <div class="movie-content">
                <div class="top">
                  <h5 class="title">
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 10 }"
                      >{{ moviesData.movieList![10].title }}</a
                    >
                  </h5>
                  <span class="date">{{
                    moviesData.movieList![10].releaseDate | date: "yyyy"
                  }}</span>
                </div>
                <div class="bottom">
                  <ul>
                    <li><span class="quality">hd</span></li>
                    <li>
                      <span class="duration"
                        ><i class="far fa-clock"></i
                        >{{ moviesData.movieList![10].runTime }} min</span
                      >
                      <span class="rating"
                        ><i class="fas fa-thumbs-up"></i
                        >{{ moviesData.movieList![10].rating }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one">
            <div class="movie-item movie-item-three mb-50">
              <div class="movie-poster">
                <img src="../../../assets/img/poster/ucm_poster12.jpg" alt="" />
                <ul class="overlay-btn">
                  <li class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/watch?v=OiTiKOy59o4"
                      class="popup-video btn"
                      >Watch Now</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 11 }"
                      class="btn"
                      >Details</a
                    >
                  </li>
                </ul>
              </div>
              <div class="movie-content">
                <div class="top">
                  <h5 class="title">
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 11 }"
                      >{{ moviesData.movieList![11].title }}</a
                    >
                  </h5>
                  <span class="date">{{
                    moviesData.movieList![11].releaseDate | date: "yyyy"
                  }}</span>
                </div>
                <div class="bottom">
                  <ul>
                    <li><span class="quality">hd</span></li>
                    <li>
                      <span class="duration"
                        ><i class="far fa-clock"></i
                        >{{ moviesData.movieList![11].runTime }} min</span
                      >
                      <span class="rating"
                        ><i class="fas fa-thumbs-up"></i
                        >{{ moviesData.movieList![11].rating }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-two">
            <div class="movie-item movie-item-three mb-50">
              <div class="movie-poster">
                <img src="../../../assets/img/poster/ucm_poster13.jpg" alt="" />
                <ul class="overlay-btn">
                  <li class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/watch?v=OiTiKOy59o4"
                      class="popup-video btn"
                      >Watch Now</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 12 }"
                      class="btn"
                      >Details</a
                    >
                  </li>
                </ul>
              </div>
              <div class="movie-content">
                <div class="top">
                  <h5 class="title">
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 12 }"
                      >{{ moviesData.movieList![12].title }}</a
                    >
                  </h5>
                  <span class="date">{{
                    moviesData.movieList![12].releaseDate | date: "yyyy"
                  }}</span>
                </div>
                <div class="bottom">
                  <ul>
                    <li><span class="quality">hd</span></li>
                    <li>
                      <span class="duration"
                        ><i class="far fa-clock"></i
                        >{{ moviesData.movieList![12].runTime }} min</span
                      >
                      <span class="rating"
                        ><i class="fas fa-thumbs-up"></i
                        >{{ moviesData.movieList![12].rating }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-two"
          >
            <div class="movie-item movie-item-three mb-50">
              <div class="movie-poster">
                <img src="../../../assets/img/poster/ucm_poster14.jpg" alt="" />
                <ul class="overlay-btn">
                  <li class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/watch?v=OiTiKOy59o4"
                      class="popup-video btn"
                      >Watch Now</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 13 }"
                      class="btn"
                      >Details</a
                    >
                  </li>
                </ul>
              </div>
              <div class="movie-content">
                <div class="top">
                  <h5 class="title">
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 13 }"
                      >{{ moviesData.movieList![13].title }}</a
                    >
                  </h5>
                  <span class="date">{{
                    moviesData.movieList![13].releaseDate | date: "yyyy"
                  }}</span>
                </div>
                <div class="bottom">
                  <ul>
                    <li><span class="quality">hd</span></li>
                    <li>
                      <span class="duration"
                        ><i class="far fa-clock"></i
                        >{{ moviesData.movieList![13].runTime }} min</span
                      >
                      <span class="rating"
                        ><i class="fas fa-thumbs-up"></i
                        >{{ moviesData.movieList![13].rating }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one">
            <div class="movie-item movie-item-three mb-50">
              <div class="movie-poster">
                <img src="../../../assets/img/poster/ucm_poster15.jpg" alt="" />
                <ul class="overlay-btn">
                  <li class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/watch?v=OiTiKOy59o4"
                      class="popup-video btn"
                      >Watch Now</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 14 }"
                      class="btn"
                      >Details</a
                    >
                  </li>
                </ul>
              </div>
              <div class="movie-content">
                <div class="top">
                  <h5 class="title">
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 14 }"
                      >{{ moviesData.movieList![14].title }}</a
                    >
                  </h5>
                  <span class="date">{{
                    moviesData.movieList![14].releaseDate | date: "yyyy"
                  }}</span>
                </div>
                <div class="bottom">
                  <ul>
                    <li><span class="quality">hd</span></li>
                    <li>
                      <span class="duration"
                        ><i class="far fa-clock"></i
                        >{{ moviesData.movieList![14].runTime }} min</span
                      >
                      <span class="rating"
                        ><i class="fas fa-thumbs-up"></i
                        >{{ moviesData.movieList![14].rating }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-two"
          >
            <div class="movie-item movie-item-three mb-50">
              <div class="movie-poster">
                <img src="../../../assets/img/poster/ucm_poster16.jpg" alt="" />
                <ul class="overlay-btn">
                  <li class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/watch?v=OiTiKOy59o4"
                      class="popup-video btn"
                      >Watch Now</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 15 }"
                      class="btn"
                      >Details</a
                    >
                  </li>
                </ul>
              </div>
              <div class="movie-content">
                <div class="top">
                  <h5 class="title">
                    <a
                      routerLink="/home/movie-details"
                      [queryParams]="{ movieNr: 15 }"
                      >{{ moviesData.movieList![15].title }}</a
                    >
                  </h5>
                  <span class="date">{{
                    moviesData.movieList![15].releaseDate | date: "yyyy"
                  }}</span>
                </div>
                <div class="bottom">
                  <ul>
                    <li><span class="quality">hd</span></li>
                    <li>
                      <span class="duration"
                        ><i class="far fa-clock"></i
                        >{{ moviesData.movieList![15].runTime }} min</span
                      >
                      <span class="rating"
                        ><i class="fas fa-thumbs-up"></i
                        >{{ moviesData.movieList![15].rating }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="pagination-wrap mt-30">
              <nav>
                <ul>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- movie-area-end -->

    <!-- newsletter-area -->
    <section
      class="newsletter-area newsletter-bg"
      style="background-image: url(../../../assets/img/bg/newsletter_bg.jpg)"
    >
      <div class="container">
        <div class="newsletter-inner-wrap">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="newsletter-content">
                <h4>Trial Start First 30 Days.</h4>
                <p>Enter your email to create or restart your membership.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <form action="#" class="newsletter-form">
                <input type="email" required placeholder="Enter your email" />
                <button class="btn">get started</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- newsletter-area-end -->
  </main>
  <!-- main-area-end -->

  <!-- footer-area -->
  <footer>
    <div class="footer-top-wrap">
      <div class="container">
        <div class="footer-menu-wrap">
          <div class="row align-items-center">
            <div class="col-lg-3">
              <div class="footer-logo">
                <a routerLink="/home"
                  ><img src="../../../assets/img/logo/logo.png" alt=""
                /></a>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="footer-menu">
                <nav>
                  <ul class="navigation">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/home">Movie</a></li>
                    <li><a routerLink="/home">tv show</a></li>
                    <li><a routerLink="/home">pages</a></li>
                    <li>
                      <a routerLink="/pricing">Pricing</a>
                    </li>
                  </ul>
                  <div class="footer-search">
                    <form action="#">
                      <input type="text" placeholder="Find Favorite Movie" />
                      <button><i class="fas fa-search"></i></button>
                    </form>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-quick-link-wrap">
          <div class="row align-items-center">
            <div class="col-md-7">
              <div class="quick-link-list">
                <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <div class="footer-social">
                <ul>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-wrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="copyright-text">
              <p>
                Copyright &copy; 2021. All Rights Reserved By
                <a routerLink="/home">RuntimeTerror</a>
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="payment-method-img text-center text-md-right">
              <img src="../../../assets/img/images/card_img.png" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-area-end -->
</body>
